---
import { HeroSlider } from "@static/images";
import Layout from "../layouts/Layout.astro";
import { Contact as ContactModule } from "@modules/Contact";
import { Hero } from "@modules/Hero";
import { Footer } from "@modules/Footer";
import { ContactForm } from "@components/ContactForm";
---

<Layout
    title="Contacto | Luxion"
    description="YOUR META DESCRIPTION FOR SEO"
>
    <main class="page-content">
        <Hero
            heroType="ParallaxImage"
            client:load
            data={{
                image: HeroSlider.src,
                content: {
                    title: "Contact",
                    paragraph:
                        "Get stuck or need help? Contact us and we will help you out!",
                },
            }}
        />
        <ContactModule client:load />
        <ContactForm client:visible />
    </main>
    <Footer />
</Layout>
